@page
@model ZealandEvent.Pages.Events.EditModel

@{
    ViewData["Title"] = "Opdater event";
}

<h3>Opdater det valgte event</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Event.EventId" />
            <div class="form-group">
                <label asp-for="Event.ArrangementId" class="control-label">Arrangement</label>
                <select asp-for="Event.ArrangementId" class="form-control" asp-items="ViewBag.ArrangementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Event.Title" class="control-label">Titel</label>
                <input asp-for="Event.Title" class="form-control" />
                <span asp-validation-for="Event.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Start" class="control-label">Start</label>
                <input asp-for="Event.Start" class="form-control" />
                <span asp-validation-for="Event.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.End" class="control-label">Slut</label>
                <input asp-for="Event.End" class="form-control" />
                <span asp-validation-for="Event.End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Location" class="control-label">Lokation</label>
                <select name="Event.Location" asp-for="Event.Location" class="form-control">
                    @foreach (var location in Enum.GetValues(typeof(ZealandEventLib.Models.Location)))
                    {
                        <option value="@location">@location</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input style="background-color:green; color:white" type="submit" value="Gem" class="btn btn-primary" /> |
                <a asp-page="../Arrangementer/Index"><i class="fa fa-reply" style="color:black; font-size:20px"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
