@page
@model ZealandEvent.Pages.Arrangementer.EditModel

@{
    ViewData["Title"] = "Opdater arrangement";
}

<h3>Opdater arrangmentet</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Arrangement.ArrangementId" />
            <div class="form-group">
                <label asp-for="Arrangement.Name" class="control-label">Navn</label>
                <input asp-for="Arrangement.Name" class="form-control" />
                <span asp-validation-for="Arrangement.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrangement.Department" class="control-label">Afdeling</label>
                <select name="Arrangement.Department" asp-for="Arrangement.Department" class="form-control">
                    @foreach (var department in Enum.GetValues(typeof(ZealandEventLib.Models.Department)))
                    {
                        <option value="@department">@department</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Arrangement.Date" class="control-label">Dato</label>
                <input asp-for="Arrangement.Date" class="form-control" />
                <span asp-validation-for="Arrangement.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Tilbage til listen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
