@page
@model ZealandEvent.Pages.Arrangementer.EditModel

@{
    ViewData["Title"] = "Opdater arrangement";
}

<h3>Opdater arrangmentet</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Arrangement.ArrangementId" />
            <div class="form-group">
                <label asp-for="Arrangement.Name" class="control-label">Navn</label>
                <input asp-for="Arrangement.Name" class="form-control" />
                <span asp-validation-for="Arrangement.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrangement.Department" class="control-label">Afdeling</label>
                <select name="Arrangement.Department" asp-for="Arrangement.Department" class="form-control">
                    <option value="0">Zealand - Roskilde</option>
                    <option value="1">Zealand - Næstved</option>
                    <option value="2">Zealand - Slagelse</option>
                    <option value="3">Zealand - Køge</option>
                    <option value="4">Zealand - Ringsted</option>
                    <option value="5">Zealand - Holbæk</option>
                </select>
</div>
            <div class="form-group">
                <label asp-for="Arrangement.Date" class="control-label">Dato</label>
                <input type="date" asp-for="Arrangement.Date" class="form-control" />
                <span asp-validation-for="Arrangement.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input style="background-color:green; color:white" type="submit" value="Gem" class="btn btn-primary" /> |
                <a asp-page="./Index" style="font-style:oblique; color:black"><i class="fa fa-reply" style="color:black; font-size:20px"></i> Tilbage</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
