@page
@model ZealandEvent.Pages.Users.DeleteModel

@{
    ViewData["Title"] = "Slet bruger";
}

<h3>Er du sikker på du vil slette denne bruger? (Bookings tilhørende brugeren bliver også slettet)</h3>
<div>
    <hr />
    <h5>Antal bookinger: @Model.AntalBookinger</h5>
    <dl class="row">
        <dt class="col-sm-2">
            Brugernavn
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            Adgangs-niveau
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserRole)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.UserId" />
        <input type="submit" value="Slet" class="btn btn-danger" /> |
        <a asp-page="./Index" style="font-style:oblique; color:black"><i class="fa fa-reply" style="color:black; font-size:20px"></i> Tilbage</a>
    </form>
</div>
