@page
@model ZealandEvent.Pages.Users.UserConfirmationModel
@{
}
<div class="text-center">
    <h3>Din bruger er blevet oprettet, du kan nu logge ind!</h3>

    <a asp-page="/Login/Login" style="color:black; font-size:large">Log ind</a>
</div>