@page
@model ZealandEvent.Pages.Bookings.BookingConfirmationModel
@{
}

<h3>Din tilmelding er blevet registreret, vi glæder os til at se dig!</h3>

<a asp-page="/Index">Tilbage til arrangementerne</a>