@page
@model ZealandEvent.Pages.Register.RegisterModel
@{
}
    <div class="container">
        <h1>Opret en bruger</h1>
          <form method="post" style="width:600px;">
              <div class="form-group; container1">
                  <hr>
                      <label>Username</label>
                      <input type="text" asp-for="User.UserName" placeholder="Indtast din Username"/>
                      <span asp-validation-for="User.UserName" class="alert-warning"></span>
                      

                 
                      <label>Password</label>
                      <input type="password" asp-for="User.Password" placeholder="Indtast dit Password"/>
                      <span asp-validation-for="User.Password" class="alert-warning"></span>
                  
               
                      <label>Email</label>
                      <input type="text" asp-for="User.Email" placeholder="Indtast din E-mail" />
                      <span asp-validation-for="User.Email" class="alert-warning"></span>
                  
                      <button type="submit" class="registerbtn" style="width:200px;">Opret</button>
              </div>
         </form>
    </div>
