@page
@model ZealandEvent.Pages.Login.LoginModel
@{
}

<div class="container">
    <div>
        @Model.Message
    </div>
    <form method="post" style="width:600px;">
        <div class="form-group; container1">
            <h1>Log Ind</h1>
            <hr>
            <label asp-for="UserName" class="col-form-label ">Username</label>
            <input asp-for="UserName" placeholder="Indtast din Username" required />


            <label asp-for="Password" class="col-form-label">Password</label>
            <input asp-for="Password" placeholder="Indtast dit Password" required />


            <button type="submit" class="registerbtn" style="width:200px;">Log in</button>
        </div>
    </form>
</div>