@page
@model ZealandEvent.Pages.Login.LoginModel
@{
}

<div class="container">
    <form method="post" style="width:600px;">
        <div class="form-group; container1">
            <h1>Log ind</h1>
            <div style="color:red">
                @Model.Message
            </div>
            <hr>
            <label asp-for="UserName" class="col-form-label ">Brugernavn</label>
            <input asp-for="UserName" placeholder="Indtast dit brugernavn" required />


            <label asp-for="Password" class="col-form-label">Kodeord</label>
            <input asp-for="Password" placeholder="Indtast dit kodeord" required />


            <button type="submit" class="registerbtn" style="width:100px; background-color:green; color:white;">Log in</button>
        </div>
    </form>
</div>