<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Design</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-color:#fff387; font-family: Tahoma, sans-serif;">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light div-2 box-shadow mb-3" style="background-color: black; box-shadow: 0 0.25rem 0.75rem rgb(255 255 255)">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="/Billeder/ZealandLilleLogo1.0.png" alt="HTML5 Icon" style="width:215px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Login.LoginModel.LoggedInUser != null && Login.LoginModel.LoggedInUser.UserRole == ZealandEventLib.Models.UserRole.Admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Arrangementer/Index" style="color:white;">Admin Værktøj</a>
                            </li>
                        }
                        @if (Login.LoginModel.LoggedInUser != null && Login.LoginModel.LoggedInUser.UserRole == ZealandEventLib.Models.UserRole.Guest)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-page="/Bookings/MyBookings" style="color:white;">Mine bookinger</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav">
                        @{
                            if (Login.LoginModel.LoggedInUser == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Login/Login" style="color:white;">Log in</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Register/Register" style="color:white;">Opret</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item nav-link mr-3">
                                    <i class="fa fa-user" style="color:white;"></i> <a style="color:white;">@Login.LoginModel.LoggedInUser.UserName</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Login/Logout" style="color:white;">Log ud</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ZealandEvent
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
